body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 992px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 0px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

p {
	text-align: justify;
}

.error {
	color: red;
    padding-top: 15px;
	float: left;
}

.clone{
	position: absolute;
	cursor: pointer;
}

.pic {
	cursor: pointer;
}

.pic-all {
	background-image: url('../images/all.png');
	width: 419px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
}

.pic-keys {
	background-image: url('../images/keys.png');
    width: 492px;
    height: 152px;
    background-repeat: no-repeat;
    background-size: contain;
	margin-bottom: 50px;
}
.pic-plan {
	background-image: url('../images/plan.png');
	width: 409px;
	height: 237px;
    background-repeat: no-repeat;
    background-size: contain;
	margin-bottom: 50px;
}

.pic-tabs {
	background-image: url('../images/tabs.png');
	width: 491px;
    height: 339px;
    background-repeat: no-repeat;
    background-size: contain;
	margin-bottom: 50px;
}

.pic-highlighting {
	background-image: url('../images/highlighting.png');
	width: 418px;
    height: 118px;
    background-repeat: no-repeat;
    background-size: contain;
	margin-bottom: 50px;
}
.pic-search {
	background-image: url('../images/search.png');
	width: 491px;
    height: 133px;
    background-repeat: no-repeat;
    background-size: contain;
	margin-bottom: 50px;
}
.pic-context_menu {
	background-image: url('../images/context_menu.png');
	width: 416px;
    height: 224px;
    background-repeat: no-repeat;
    background-size: contain;
}
.pic-synonims {
	background-image: url('../images/synonims.png');
	width: 491px;
    height: 207px;
    background-repeat: no-repeat;
    background-size: contain;
	margin-bottom: 50px;
}
.pic-unused_keys {
	background-image: url('../images/unused_keys.png');
	width: 410px;
    height: 86px;
    background-repeat: no-repeat;
    background-size: contain;
	margin-bottom: 50px;
}

.pic-history {
	background-image: url('../images/history.png');
	width: 492px;
    height: 234px;
    background-repeat: no-repeat;
    background-size: contain;
	margin-bottom: 50px;
}

.pic-buttons {
	background-image: url('../images/buttons.png');
	width: 410px;
    height: 87px;
    background-repeat: no-repeat;
    background-size: contain;
	margin-bottom: 50px;
}

.pic-save {
	background-image: url('../images/save.png');
	width: 254px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
	margin-bottom: 50px;
	margin-left: 8px;
}
.pic-timer {
	background-image: url('../images/timer.png');
	width: 300px;
    height: 165px;
    background-repeat: no-repeat;
    background-size: contain;
	margin-left: 50px;
}
.pic-turn_off_highlighting {
	background-image: url('../images/turn_off_highlighting.png');
	width: 417px;
    height: 220px;
    background-repeat: no-repeat;
    background-size: contain;
}

.pic-sites {
	background-image: url('../images/sites.png');
	width: 227px;
    height: 186px;
    background-repeat: no-repeat;
    background-size: contain;
	margin-left: 8px;
}

.comment-body {
	background-color: #fff;
    padding: 20px;
    position: relative;
    border: 1px solid #ccc;
    font-size: 18px;
    color: #666;
    border-radius: 3px;
    background-repeat: no-repeat;
    margin-top: 10px;
    text-align: left;
}

.comments {
	margin-top: 10px;
}

#modal_form {
	width: 300px; 
	height: 300px;
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed;
	top: 45%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
	display: none;
	opacity: 0;
	z-index: 5;
	padding: 20px 10px;
	cursor: pointer;
}

#overlay {
	z-index: 3;
	position: fixed;
	background-color: #000;
	opacity: 0.8;
	width: 100%; 
	height: 100%;
	top: 0; 
	left: 0;
	cursor: pointer;
	display: none;
}